@import 'variables';

.header {
  background-color: $yellow;
  background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
  color: $white;
  max-height: 420px;
  height: 420px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  @media (max-width: 1024px) {
    padding-top: 60px;
    max-height: 520px;
    height: 520px;
  }
}
