@import 'variables';

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: $yellow;
  background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
  color: $white;
  height: 420px;
  margin-bottom: 4rem;
  max-height: 420px;
  width: 100%;

  @media (max-width: 1024px) {
    margin-top: 0;
    padding-top: 140px;
    max-height: 520px;
    height: 520px;
  }
}
