// Vairables
$purple: #3e54a2;
$brown: #545149;
$yellow: #d89922;
$red: #f00;
$yellow-light: #f4f1ec;
$white: #fff;
$black: #000;

$font-heading: "Bungee", cursive;
$font-primary: "Source Sans Pro", sans-serif;
$font-size-base: 1rem;
