.tweet {
  border: 3px solid #545149;
  margin-bottom: 3rem;
  padding: 1rem;
  transition: box-shadow 0.3s;
}

.tweet:hover {
  box-shadow: 10px 10px 1px 0 rgba(62 84 162 / 20%);
}

.tweet header {
  display: flex;
  font-size: 1.35rem;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1rem;
}

.tweet header img,
.tweet header .img-placeholder {
  border-radius: 50%;
  margin-right: 0.75rem;
}

.tweet header .tweet-handle {
  margin-left: auto;
}

.tweet .tweet-handle a {
  text-decoration: none;
  color: rgba(62 84 162 / 50%);
}

.tweet .tweet-handle a:hover {
  color: rgba(62 84 162 / 100%);
}

.tweet .tweet-content {
  font-size: 1.2rem;
  font-weight: 400;
  padding: 1rem 1.25rem;
}

.tweet footer {
  border-top: 3px solid #545149;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.75rem;
}

.tweet footer time {
  font-size: 0.9rem;
  font-weight: 400;
}

.tweet .tweet-actions {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.tweet .tweet-actions button {
  border: 0;
  color: #3e54a2;
  font-size: 1.1rem;
  transition: color 0.3s;
}

.tweet .tweet-actions button:hover {
  color: #d89922;
}
